#container{
    display: grid;
    padding-top: 15px;
    padding-bottom: 170px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 400px 400px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
}
#videoTxt{
    font-family: Courier, monospace;
    color: cornsilk;
    text-align: center;
    margin-top: 25px;
}
.videos{
    border: 0.1px solid whitesmoke;
}