* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
html {
    background: url(https://musica36.ru/assets/web/v1/welcome-news-background-8030fbffadaac97a7d989862018f96601feafcf0acf21b24653e61e08735cdca.jpg);
}